<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tokyo</key>
	<dict>
		<key>longitude</key>
		<string>139.7753269</string>
		<key>latitude</key>
		<string>35.7020691
35.7020691
</string>
	</dict>
	<key>London</key>
	<dict>
		<key>longitude</key>
		<string>-0.1337
-0.1337
-0.1337
</string>
		<key>latitude</key>
		<string>51.50998</string>
	</dict>
</dict>
</plist>
