<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>London</key>
	<dict>
		<key>longitude</key>
		<string>7587567846758</string>
		<key>latitude</key>
		<string>87687578687687</string>
	</dict>
	<key>Paris</key>
	<dict>
		<key>longitude</key>
		<string>875875876875</string>
		<key>latitude</key>
		<string>87687587587587</string>
	</dict>
</dict>
</plist>
