<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Places</key>
	<dict>
		<key>London</key>
		<dict>
			<key>longitude</key>
			<string></string>
			<key>latitude</key>
			<string></string>
		</dict>
		<key>Paris</key>
		<dict>
			<key>latitude</key>
			<string></string>
			<key>longitude</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
